{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<div class="main-content">
    <h1>Welcome to your cart</h1>
    {% if cart_drinks %}
        {% for drink in cart_drinks %}
            {{drink}} : {{drink.price}} <br>
        {% endfor %}
    {% else %}
        <h2>There is nothing in your cart!</h2>
        <button class="order-btn">
            <a href="{% url 'order:menu' %}">ORDER NOW</a>
        </button>
    {% endif %}

</div>
{% endblock %}