{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <title>Morning Grind</title>
    
</head>
<body>

    <div class="header">
        <div class="logo">
            <img src="{% static '/images/logo-removebg-preview.png' %}" alt="Logo">
        </div>
        <div class="title">Morning <br>Grind</div>
    </div>

    <div class="main-content">
        <button class="order-btn" >
            <a class="order-btn" href="{% url 'order:menu' %}">ORDER NOW</a>
        </button>
    </div>
    

    <div class="nav-bar">
        <a href="#" class="nav-item"><i class="bi bi-house-heart"></i><br>Home</a>
        <a href="#" class="nav-item"><i class="bi bi-search-heart"></i><br>Search</a>
        <a href="{% url 'order:menu' %}" class="nav-item"><i class="bi bi-cup-hot"></i><br>Order</a>
        <a href="#" class="nav-item"><i class="bi bi-bag-heart"></i><br>Rewards</a>
        <a href="#" class="nav-item"><i class="bi bi-person-heart"></i><br>Account</a>
    </div>

</body>
</html>
