{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/settings.css' %}">

<div class="center">
    <div class="element"></div>
        <div class="profile">
            <h1>Welcome, {{ user.first_name }} {{user.last_name}}!</h1>
            <p>Username: {{user.username}}<p>
            <p>Email: {{ user.email }}</p>
            <p>Phone Number: {{ user.phone_number }}</p>
        </div>
    <div class="element"></div>
    <div class="bottom-container">
        <a href="{% url 'settings:update_user' %}">
            <button class="styled-button">Edit Profile</button>
        </a>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="styled-button" type="submit">Logout</button>
        </form>   
        {% else %}
        <a class="styled-button" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>
    {% endblock %}