{% extends "base1.html" %}
{% block content %}
<div class="shadow-wrap">
  <div class="form-wrap">
    <h1>MORNING GRIND</h1>
    <h3>Their slogan</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Submit</button>
    </form>
    <p>
      <a class="forgot-password-link" href="{% url 'password_reset' %}">Forgot Password?</a>
    </p>
    <a class="signup-link" href="{% url 'login:authView' %}">Signup</a>
  </div>
</div>
<style>
  .forgot-password-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .forgot-password-link:hover {
    text-decoration: underline;
  }
</style>
{% endblock content %}
