h1{
text-align: center;
    color: #432D2D;
}
.page-padding{
    margin: 2%;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
}

.card{
    border-radius: 8px;
    background-color: #BA9D83;
    box-shadow: 0 4px 6px #432D2D;
    line-height: 1.8rem;
    padding: 10%;
    gap: 10%;
}

.drink-name{
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.subcategory{
    font-size: 1.4rem;
}

.modal-content{
    background-color: #432D2D;
    padding: 10px;
    color: white;
}