{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detailed_menu.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="page-padding">
    {% include 'order/menu_nav.html' %}
    <div class="element"></div>

    <div class="center">
        <input type="hidden" name="drink_id" value="{{ drink.id }}">
        <p class="drink">{{ drink.name }}</p>
        <div class="temp-photo"></div>
        <p class="desc">{{ drink.description }}</p>
        <div class="element-container">
            <p class="subcategory">Price:</p>
            <div class="element2"></div>
        </div>
        <p class="subcategory-text">${{ drink.price }}</p>

        <!-- customizations -->
        {% if drink.sizes or drink.milk_options or drink.syrup_options or drink.extra_shots %}
        <div class="element-container">
            <p class="subcategory">Customizations</h3>
            <div class="element2"></div>
        </div>
        <form>
            <div class="grid">
                {% csrf_token %}
                {% if drink.sizes %}
                <label class="subcategory-text" for="size">Size:</label>
                <select name="size" id="size">
                    {% for size in drink.sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>
                {% endif %}

                {% if drink.milk_options %}
                <label class="subcategory-text" for="milk">Milk Options:</label>
                <select name="milk" id="milk">
                    {% for milk in drink.milk_options %}
                    <option value="{{ milk }}">{{ milk }}</option>
                    {% endfor %}
                </select>
                {% endif %}

                {% if drink.syrup_options %}
                <label class="subcategory-text" for="syrup">Syrup Options:</label>
                <select name="syrup" id="syrup">
                    {% for syrup in drink.syrup_options %}
                    <option value="{{ syrup }}">{{ syrup }}</option>
                    {% endfor %}
                </select>
                {% endif %}

                {% if drink.extra_shots %}
                <label>
                    <input type="checkbox" name="extra_shots"> Add Extra Shot
                </label>
                {% endif %}
            </div>
        </form>
        {% else %}
        <p>No customizations available for this drink.</p>
        {% endif %}
    </div>
    <div class="element"></div>
    <div class="bottom-container">
        <button type="submit" class="cart-btn" value={{ drink.id }} id="add-cart">Add to Order</button>
        <a href="{% url 'order:menu'%}" class="cancel-btn">Cancel</a>
    </div>

</div>
<script>
    //Check if the button is pressed
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();

        let drinkId = $('#add-cart').val();  //store customizations
        let size = $('#size').val();
        let milk = $('#milk').val();
        let syrup = $('#syrup').val();
        let extraShots = $('input[name="extra_shots"]').is(':checked');

        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}", //** double quote error
            data: {
                drink_id: $('#add-cart').val(),
                size: size,
                milk: milk,
                syrup: syrup,
                extra_shots: extraShots,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                // console.log("Cart updated:", json);
                // let cartQuantity = $('#cart_quantity');
                // if (cartQuantity.length) {
                //     cartQuantity.text(json.qty);
                // } else {
                //     console.error("Cart quantity element not found!");
                // }
                // console.log("Cart updated:", json);
                // console.log("Received qty:", json.qty);
                // console.log("Cart updated:", json);
                // console.log("Before update:", $('#cart_quantity').text());
                $('#cart_quantity').empty().append(json.qty);
            },
            error: function (xhr, errmsg, err) {
                console.log("AJAX Error:", errmsg);
            }
        })


    })
</script>
{% endblock %}