.center{
    width: 80%;
    margin: 10% auto;
}

.profile{
    flex-direction: column;
    color: #3b2825;
    font-size: large;
    letter-spacing: 2px;
    text-align: center;
    margin: 10% auto;
    padding: 1% 0;
    width: 100%;
    line-height:  2rem;
    background-color: #BA9D83;
    border-radius: 8px;
}

.element {
    border-bottom: 10px solid #3b2825;
    width: 100%;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.styled-button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    
    color: #3b2825;
    background-color: #D9D9D9;
    border: solid 4px #432D2D;
    padding: 2px 5px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
}