{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/coffee_favicon.png' %}" type="image/png">
    <title>Morning Grind</title>

</head>

<body>
    <div class="content">
        <div class="header">
            <div class="logo">
                <img src="{% static '/images/logo-removebg-preview.png' %}" alt="Logo">
            </div>
            <div class="title">Morning <br>Grind</div>
        </div>

        <!--Application Things-->
        {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<footer>
    <div class="nav-bar">
        <a href="{% url 'home:home' %}" class="nav-item"><i class="bi bi-house-heart"></i><br>Home</a>
        <a href="{% url 'order:menu' %}" class="nav-item"><i class="bi bi-cup-hot"></i><br>Order</a>
        <a href="{% url 'rewards:reward' %}" class="nav-item"><i class="bi bi-bag-heart"></i><br>Rewards</a>
        <a href="{% url 'settings:setting' %}" class="nav-item"><i class="bi bi-person-heart"></i><br>Account</a>
    </div>
</footer>
</div>

</html>